.participant-item {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .amount-input {
    width: 130px;
    margin-left:40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .mat-checkbox-label {
    margin-right: 10px;
  }
  